@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar-brand img {
  height: 60px;
  width: 100%;
}

form .nav-btn {
  border: 1px solid #e66c01;
  width: 100%;
  border-radius: 0px;
}

.navbar-nav {
  text-align: center;
  margin: auto;
  font-size: 15px;
}

.navbar-nav li {
  margin-left: 1rem;
}

.hero .left-hero {
  margin-top: 5rem;
}

/* .hero .mother {
  align-items: center;
} */

.hero big {
  font-weight: 500;
  background-color: #e66c0128;
  padding: 0.5rem;
  font-size: 13px;
  color: #e66c01;
  /* margin-top: 2rem; */
}

.hero h2 {
  font-weight: bold;
  font-size: 5.5rem;
  line-height: 5rem;
}

.hero p {
  color: gray;
  font-size: 13px;
  margin-top: 1rem !important;
  line-height: 1rem;
}

.hero .right-hero img {
  width: 100%;
}

.left-btn {
  background-color: #e66c01;
  color: white;
  width: 30%;
  border: none;
  padding: 0.5rem;
}

.left-btn:hover {
  box-shadow: 0px 3px 10px 5px rgba(197, 117, 5, 0.062);
  background-color: transparent;
  border: 1px solid #e66c01;
  color: black;
  width: 100%;
  transition: 0.3s all;
}

.after-hero .after-hero-row{
  align-items: center;
}

.after-hero .left-after-hero img{
  width: 100%;
}

.right-after-hero h4{
  color: #e66c01;
  border-left: 7px solid #e66c01;
  padding-left: 1rem;
}

.right-after-hero p{
  font-weight: 500;
  font-size: 2rem;
}

.right-after-hero a{
  text-decoration: none;
}

.third-section h3{
  font-size: 1.7rem;
  text-align: center;
}

.third-section p{
  text-align: center;
  font-size: 0.9rem;
}

.third-section img{
  width: 100%;
}

.first-division{
  border-right: 1px dashed grey;
}

.first-division h1{
  color: #e66c01;
  font-weight: 500;
}

.first-division span{
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.first-division p{
  font-size: 15px;
  line-height: 1.5rem;
}

/* media query */
@media (max-width: 768px) {
  .hero h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem;
  }

  .hero .left-hero {
    margin-top: 1rem;
  }

  .right-hero img {
    margin-top: 2rem;
  }

  .hero{
    text-align: center;
  }

  .left-btn {
    background-color: #e66c01;
    color: white;
    width: 100%;
    border: none;
    padding: 0.5rem;
  }
  
  .left-btn:hover {
    box-shadow: 0px 3px 10px 5px rgba(197, 117, 5, 0.062);
    background-color: transparent;
    border: 1px solid #e66c01;
    color: black;
    transition: 0.3s all;
  }

  .hero big {
    font-weight: 500;
    background-color: #e66c0128;
    padding: 0.5rem;
    font-size: 13px;
    color: #e66c01;
    /* margin-top: 2rem; */
  }
  
  .right-after-hero p{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .third-section h3{
    font-size: 1.7rem;
    text-align: left;
  }

  .third-section p{
    text-align: left;
  }

  .first-division{
    background-color: white;
    margin-top: 3rem;
    box-shadow: 0px 5px 10px 5px rgba(197, 117, 5, 0.079);  
    border-right: none;
    padding: 2rem;

  }
}
