@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.body-bg {
  background: #fbf2ea;
}

.navbar-brand img {
  height: 60px;
  width: 100%;
}

form .nav-btn {
  border: 1px solid #e66c01;
  width: 100%;
  border-radius: 0px;
}

.navbar-nav {
  text-align: center;
  margin: auto;
  font-size: 15px;
}

.navbar-nav li {
  margin-left: 1rem;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/Hero\ section.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem;
  text-align: center;
}

.hero big {
  font-weight: 500;
  background-color: #e66c0128;
  padding: 0.5rem;
  font-size: 13px;
  color: #e66c01;
  /* margin-top: 2rem; */
}

.hero h2 {
  font-weight: bold;
  font-size: 6rem;
  line-height: 6rem;
  color: white;
}

.hero p {
  color: gray;
  font-size: 13px;
  margin-top: 2rem !important;
  line-height: 1rem;
}

.hero .right-hero img {
  width: 100%;
}

.left-btn {
  background-color: #e66c01;
  color: white;
  width: 30%;
  border: none;
  padding: 0.5rem;
}

.left-btn:hover {
  box-shadow: 0px 3px 10px 5px rgba(197, 117, 5, 0.062);
  background-color: transparent;
  border: 1px solid #e66c01;
  color: white;
  width: 100%;
  transition: 0.3s all;
}

.after-hero .after-hero-row {
  align-items: center;
}

.after-hero .left-after-hero img {
  width: 100%;
  border-radius: 20px;
}

.right-after-hero h4 {
  color: #e66c01;
  border-left: 7px solid #e66c01;
  padding-left: 1rem;
}

.right-after-hero p {
  font-weight: 500;
  font-size: 2rem;
}

.right-after-hero a {
  text-decoration: none;
}

.third-section h3 {
  font-size: 1.7rem;
  text-align: center;
}

.third-section p {
  text-align: center;
  font-size: 0.9rem;
}

.third-section img {
  width: 100%;
}

.first-division {
  border-right: 1px dashed grey;
}

.first-division h1 {
  color: #e66c01;
  font-weight: 500;
}

.first-division span {
  font-size: 15px;
  font-weight: bold;
  color: black;
}

.first-division p {
  font-size: 15px;
  line-height: 1.5rem;
}

.features .feature-row {
  align-items: center;
}

.features .feature-row img {
  /* border-radius: 20px; */
  width: 100%;
}

.features h3 {
  font-size: 15px;
  background: linear-gradient(to right, #e66c01, #d9d9d9);
  width: 17%;
  padding: 10px;
  border-radius: 10px;
}

.features big {
  font-size: 2.5rem;
}

.inner-feature-div {
  background-color: #e66c01;
  border-radius: 20%;
  padding: 15px;
  color: white;
}

.inner-feature {
  font-size: 1.4rem;
}

.circle .circle-row {
  align-items: center;
}

.circle h3 {
  font-size: 15px;
  background: linear-gradient(to right, #e66c01, #d9d9d9);
  width: 17%;
  padding: 10px;
  border-radius: 10px;
}

.footer-left p {
  font-size: 13px;
  color: grey;
}

.footer-head {
  font-size: 10px;
  font-weight: bold;
}

.social-links i {
  margin-left: 3px;
  font-size: 13px;
  color: white;
  background: black;
  padding: 5px;
  border-radius: 30%;
}

.footer-h {
  color: grey;
  font-weight: 500;
  font-size: 12px;
}

.footer-left input {
  height: 3rem;
  width: 100%;
  outline: none;
  border: 1px solid black;
}

.footer-left input:focus {
  background-color: rgba(128, 128, 128, 0.07);
}

.footer a {
  text-decoration: none !important;
}

.socials i {
  text-decoration: none;
  color: black;
}

.footer-button {
  border: none;
  background-color: #1f2937;
  font-weight: 500;
  padding: 10px;
  font-size: 12px;
  width: 100%;
  color: white;
  transition: 0.3s ease-in;
}

.footer-button:hover {
  background-color: transparent;
  border: 1px solid #1f2937;
  color: #1f2937;
}

.footer-left .mail-text {
  color: grey;
  font-size: 9px;
  line-height: 10px;
}

.hero2 {
  display: none;
}

/* media query */
@media (max-width: 768px) {
  .hero2 {
    display: block;
  }

  .hero2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(images/Hero\ section.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center !important;
    justify-content: center;
    padding: 3rem;
  }

  .hero2 h4 {
    font-weight: 500;
    background-color: #e66c0128;
    padding: 0.5rem;
    font-size: 10px;
    color: #e66c01;
    width: 70%;
    color: white;
  }

  .hero2 h2 {
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 3rem;
    text-align: left;
    color: white;
    line-height: 2rem;
  }

  .hero2 p {
    color: gray;
    font-size: 10px;
    /* margin-top: 2rem !important; */
    line-height: 1rem;
  }

  .hero {
    margin-top: 1rem;
    text-align: center;
    display: none;
  }

  .right-hero img {
    margin-top: 2rem;
  }

  .left-btn {
    background-color: #e66c01;
    color: white;
    width: 100%;
    border: none;
    padding: 0.5rem;
  }

  .left-btn:hover {
    box-shadow: 0px 3px 10px 5px rgba(197, 117, 5, 0.062);
    background-color: transparent;
    border: 1px solid #e66c01;
    color: black;
    transition: 0.3s all;
  }

  .hero big {
    font-weight: 500;
    background-color: #e66c0128;
    /* padding: 0.5rem; */
    font-size: 10px;
    color: #e66c01;
    /* margin-top: 2rem; */
  }

  .right-after-hero p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .third-section h3 {
    font-size: 1.7rem;
    text-align: left;
  }

  .third-section p {
    text-align: left;
  }

  .first-division {
    background-color: white;
    margin-top: 3rem;
    box-shadow: 0px 5px 10px 5px rgba(197, 117, 5, 0.079);
    border-right: none;
    padding: 2rem;
  }

  .circle h3 {
    font-size: 15px;
    background: linear-gradient(to right, #e66c01, #d9d9d9);
    width: 30%;
    padding: 10px;
    border-radius: 10px;
  }

  .features h3 {
    font-size: 15px;
    background: linear-gradient(to right, #e66c01, #d9d9d9);
    width: 30%;
    padding: 10px;
    border-radius: 10px;
  }
}
